<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleDisplayName</key>
	<string>Flurfunk</string>
	<key>CFBundleExecutable</key>
	<string>flurfunk</string>
	<key>CFBundleIconFile</key>
	<string>flurfunk</string>
	<key>CFBundleIdentifier</key>
	<string>dev.jeschek.flurfunk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Flurfunk</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Max Jeschek — MIT License</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Flurfunk benötigt Zugriff auf dein Mikrofon für Voice-Calls.</string>
</dict>
</plist>
